.box{
width: 300px;
height: 300px;
background-color: red;
animation: myAnimation;
animation-duration: 10s;
animation-iteration-count: infinite;

}
@keyframes myAnimation{

  25%{
      margin-left: 70%;
      margin-top: 0px;
      background-color: pink;
  }
  50%{
    margin-left: 70%;
    margin-top: 400px;
    background-color: rgb(0, 0, 0);
  }
  75%{
    margin-top: 400px;
    margin-left: 0px;
    background-color: rgb(205, 161, 0);
  }
  100%{
    background-color: red;
  }
}